/* Gaya utama halaman */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Tombol kembali */
a.button {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

a.button:hover {
    background-color: #0056b3;
}

/* Notifikasi */
.notification {
    display: none;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.success {
    background-color: #4CAF50;
}

/* Form input */
form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Form select */
form select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent url("arrow.png") no-repeat right center;
    cursor: pointer;
}